.menu {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

    a {
        cursor: pointer;
    }

    &:hover {
        background-color: var(--dark-bg);

        a {
            color: var(--text-secondary);
        }
    }
}

.nav {
    width: 100%;
}

.settingsContainer {
    padding: 0 24px;
}
