.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--dark-bg);
    height: 38px;
    width: 100%;
}

.readonly {
    opacity: 0.7;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;
}

// TODO: сделать как пвесдокалсс фокусед
.focused {
    border: 2px solid var(--accent-primary);
}
