.popup {
    position: relative;
}

.menu {
    border-radius: 18px;
    border: 1px solid var(--text-secondary);
    overflow: visible;
}

.trigger {
    outline-color: transparent;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    opacity: 0.7;
}

.active {
    color: var(--text-secondary);
}

.selected {
    background: var(--light-bg);
}
