.app_dark_theme {
    --dark-bg: #090f11;
    --bg-color: #0c1214;
    --light-bg: #151c1f;
    --text-primary: #ffff;
    --text-secondary: var(--palette-color-primary);
    --hint-primary: #555;
    --cancel-primary: #d95757;
    --save-primary: #6cd98b;
    --icon-primary: #74a2b2;
    --accent-primary: #5ed3f3;
}
