.Icon {
    color: var(--hint-primary);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    &:not(.disabled):hover .Icon {
        color: var(--text-secondary);
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;

        &:hover .Icon {
            color: var(--hint-primary);
        }
    }
}
