.app_palette_green {
    --palette-color-primary: #1d9158;
    --palette-color-secondary: #1e3930;
    --palette-color-outgoing: #5b8175;
}

.app_palette_lime {
    --palette-color-primary: #2f9c2d;
    --palette-color-secondary: #1f392a;
    --palette-color-outgoing: #638672;
}

.app_palette_tael {
    --palette-color-primary: #27b9ea;
    --palette-color-secondary: #1d3a45;
    --palette-color-outgoing: #537481;
}

.app_palette_blue {
    --palette-color-primary: #007afe;
    --palette-color-secondary: #223653;
    --palette-color-outgoing: #415779;
}

.app_palette_indigo {
    --palette-color-primary: #5856d6;
    --palette-color-secondary: #352a50;
    --palette-color-outgoing: #68598b;
}

.app_palette_orange {
    --palette-color-primary: #ff8a33;
    --palette-color-secondary: #3f2214;
    --palette-color-outgoing: #5f270b;
}
