.primary {
    color: var(--text-primary);

    &:not(.active):hover {
        color: var(--accent-primary);
        background-color: var(--dark-bg);
    }
}

.secondary {
    color: var(--cancel-primary);

    &:not(.active):hover {
        opacity: 0.8;
    }
}

.active {
    cursor: default;
}
